<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout 
              pattern="[%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
        <CliAppender name="CliAppender"/>
    </Appenders>
    <Loggers>
    	<logger name="Fory" additivity="false" level="WARN">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>
    	<logger name="CompileUnit" additivity="false" level="WARN">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>
    	<logger name="JaninoUtils" additivity="false" level="WARN">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>
        <Root level="TRACE">
            <AppenderRef ref="CliAppender"/>
            <AppenderRef ref="ConsoleAppender" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>